html, body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.form-container {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.form-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  align-items: baseline;
  margin-bottom: 20px;
}

.form-input {
  padding: 8px;
  width: 100%;
}

.form-submit {
  cursor: pointer;
  margin-inline-end: 8px;
}

.titles {
  list-style: none;
  padding-inline-start: 0;
}

.title-description {
  white-space: pre-line;
}
